@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

 * {outline: red 1px solid;} 

body {
background-color: #82DDB5;
background-image: url('img/illustration.gif'), url('img/texture.jpg');
    background-position: center 280px, left top;
    background-repeat: no-repeat, repeat-x;
    background-size: 800px, auto;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}

#nav {
    background-color: #6B9;
    border-bottom: 2px dashed #487;
    color: white;
    font-weight: bold;
    padding: 20px 0;
    text-align: center;
    word-spacing: 2em;
}

#header{
    text-align: center;
    margin-top: 40px;
}

#logo {
    max-width: 360px;
    
}

#description, #date {
    max-width: 220px;
}

.register_btn {
    background-color: #E43;
    border: 2px dashed #A43;
    border-radius: 2em;
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-top: 25px;
    padding: 15px 30px;
    
}

#what {
    
 
    color: #487;
    background-color: rgba(175, 230, 193, 0.9);
    width: 600px;
    padding: 20px 325px;
    text-align: left;
    margin-top: 360px;
    font-weight: 510;
}

#what h1 + p {font-size: larger;}

#what h1, h2 {text-align: center;}
#what h2 {margin-top: 50px;}


#sponsor_logos {
    
    width: 200px;
    height: 75px;
    margin: auto;
    /* need to figure out how to put sponsor logos side by side */
}

#why {
    background color: rgb(175, 230, 193);
    text-align: left;
    color: #487;
    width: 600px;
    padding: 20px 325px;
    /* this padding needs to be flush with the website dimesions */
    font-weight: 510;
    width; 600px;

}

#why h1 {text-align: center}

#where {
    height: 600px;
    background-image: url('img/map.gif');
        background-position: center;
        background-size: auto;
        margin: 0;
}

#where h1 {text-align: center;
    padding-top: 80px;
    padding-bottom: 20px;
    color:mediumvioletred;
    font-weight: 700;
}

#where p {text-align: right;
    color:mediumvioletred;
    padding-right: 310px;
    font-weight: 600;
}


#when{
    background-color: darkcyan;
    color: white;
    background-image: url(img/wires.png);
        background-size: 700px;
     background-position: center;
}

#when h1, h2, h3 {
    text-align: center;
    font-weight: bolder;
    padding-top: 10px;
    padding-bottom: 10px;
}

#when h2, ul {
    padding-bottom: 40px;
    border-bottom: 2px dashed white;
    padding-left: 325px;
    padding-right: 325px;
   

}

#who {
    background-color: white;
    padding-left: 325px;
    padding-right: 325px;
        color: #487;
    font-weight: 510;
    padding-bottom: 30px;
}

#who h1 {font-weight: bold;
    text-align: center;
    padding-top: 20px;

}

#who p+p {
    font-size: smaller;
}

























